$grid-breakpoints: ( xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1400px);
html {
    scroll-behavior: smooth;
}

@mixin breakpoint ($point) {
    @if $point==sm {
        @media screen and (max-width: 596px) and (max-height: 500px) {
            transition: 0.5s ease-in-out;
            @content;
        }
    }
    @else if $point==md {
        @media screen and (max-width: 768px) {
            transition: 0.5s ease-in-out;
            @content;
        }
    }
    @else if $point==ssm {
        @media screen and (max-width: 416px) {
            transition: 0.5s ease-in-out;
            @content;
        }
    }
    @else if $point==xsm {
        @media screen and (max-width: 760px) {
            transition: 0.5s ease-in-out;
            @content;
        }
    }
    @else if $point==xsl {
        @media screen and (max-width: 965px) {
            transition: 0.5s ease-in-out;
            @content;
        }
    }
    @else if $point==lg {
        @media screen and (max-width: 992px) {
            transition: 0.5s ease-in-out;
            @content;
        }
    }
    @else if $point==xl {
        @media screen and (max-width: 1200px) {
            transition: 0.5s ease-in-out;
            @content;
        }
    }
    @else if $point==xxl {
        @media screen and (max-width: 1400px) {
            transition: 0.5s ease-in-out;
            @content;
        }
    }
    @else if $point==xxxs {
        @media screen and (max-width: 1100px) {
            transition: 0.5s ease-in-out;
            @content;
        }
    }
    @else if $point==xmd {
        @media screen and (max-width: 780px) {
            transition: 0.5s ease-in-out;
            @content;
        }
    }
    @else if $point==xsmd {
        @media screen and (max-width: 617px) {
            transition: 0.5s ease-in-out;
            @content;
        }
    }
}

.hamburger-menu {
    display: none;
    background-color: black;
}

.menu__btn {
    display: flex;
    /* используем flex для центрирования содержимого */
    align-items: center;
    /* центрируем содержимое кнопки */
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 400;
}


/* скрываем чекбокс */

#menu__toggle {
    opacity: 0;
}


/* добавляем "гамбургер" */

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}


/* контейнер меню */

.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    z-index: 100;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: black;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}


/* элементы меню */

.menu__item {
    display: block;
    padding: 12px 24px;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    position: relative;
    z-index: 204;
}

.menu__item:hover {
    background-color: pink;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    left: 0;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    transition-duration: .25s;
}

.menu__box {
    transition-duration: .25s;
}

.menu__item {
    transition-duration: .25s;
}

.container {
    max-width: 1140px;
    padding: 0 16px;
    margin: 0 auto;
}

.section {
    text-align: center;
    padding: 64px 0;
}

.h2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 32px;
}

.image {
    margin-bottom: 32px;
}

.image a {
    border-radius: 8px;
    max-width: 512px;
    width: 100%;
    height: 300px;
    display: block;
    margin: 0 auto;
    overflow: hidden;
}

.image img {
    width: 100%;
    height: 100%;
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
}

.text {
    font-size: 18px;
    max-width: 512px;
    margin: 0 auto;
}


/* Начальные стили для элемента, который будет следовать за курсором, в нашем случае небольшой кружок */

.follow-cursor {
    display: block;
    width: 24px;
    height: 24px;
    border: 1px solid #0d6efd;
    border-radius: 50%;
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
    /* центрируем кружок */
    position: absolute;
    /* задаём абсолютное позиционирование, чтобы элемент не влиял на остальные элементы и его можно было бы позиционировать следом за курсором */
    z-index: 999;
    /* чтобы элемент был над остальными элементами */
    pointer-events: none;
    /* чтобы сквозь элемент можно было взаимодействовать с элементами, находящимися под ним */
    transition: width 0.64s, height 0.64s, border-radius 0.64s, background 0.64s;
}


/* Активный класс для кружка при наведении на ссылку */

.follow-cursor_active {
    position: absolute;
    height: 128px;
    width: 128px;
    border-width: 2px;
    background: rgba(13, 110, 253, 0.32);
}


/* Скрываем декоративный элемент при ширине браузера меньше 992px */

@media (max-width: 991.98px) {
    .follow-cursor {
        display: none;
    }
}