@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import 'adapt.css';
html {
  scroll-behavior: smooth;
}

.hamburger-menu {
  display: none;
  background-color: black;
}

.menu__btn {
  display: flex;
  /* используем flex для центрирования содержимого */
  align-items: center;
  /* центрируем содержимое кнопки */
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 400;
}

/* скрываем чекбокс */
#menu__toggle {
  opacity: 0;
}

/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}

.menu__btn > span::after {
  content: "";
  top: 8px;
}

/* контейнер меню */
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  z-index: 100;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: black;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}

/* элементы меню */
.menu__item {
  display: block;
  padding: 12px 24px;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  position: relative;
  z-index: 204;
}

.menu__item:hover {
  background-color: pink;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: 0.25s;
}

.menu__box {
  transition-duration: 0.25s;
}

.menu__item {
  transition-duration: 0.25s;
}

.container {
  max-width: 1140px;
  padding: 0 16px;
  margin: 0 auto;
}

.section {
  text-align: center;
  padding: 64px 0;
}

.h2 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 32px;
}

.image {
  margin-bottom: 32px;
}

.image a {
  border-radius: 8px;
  max-width: 512px;
  width: 100%;
  height: 300px;
  display: block;
  margin: 0 auto;
  overflow: hidden;
}

.image img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
}

.text {
  font-size: 18px;
  max-width: 512px;
  margin: 0 auto;
}

/* Начальные стили для элемента, который будет следовать за курсором, в нашем случае небольшой кружок */
.follow-cursor {
  display: block;
  width: 24px;
  height: 24px;
  border: 1px solid #0d6efd;
  border-radius: 50%;
  position: absolute;
  transform: translateY(-50%) translateX(-50%);
  /* центрируем кружок */
  position: absolute;
  /* задаём абсолютное позиционирование, чтобы элемент не влиял на остальные элементы и его можно было бы позиционировать следом за курсором */
  z-index: 999;
  /* чтобы элемент был над остальными элементами */
  pointer-events: none;
  /* чтобы сквозь элемент можно было взаимодействовать с элементами, находящимися под ним */
  transition: width 0.64s, height 0.64s, border-radius 0.64s, background 0.64s;
}

/* Активный класс для кружка при наведении на ссылку */
.follow-cursor_active {
  position: absolute;
  height: 128px;
  width: 128px;
  border-width: 2px;
  background: rgba(13, 110, 253, 0.32);
}

/* Скрываем декоративный элемент при ширине браузера меньше 992px */
@media (max-width: 991.98px) {
  .follow-cursor {
    display: none;
  }
}
.blockmp4 {
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0;
}

#container {
  animation: glava 1.5s ease-in-out;
  box-sizing: content-box;
  box-sizing: border-box;
  margin: 0 auto;
  cursor: default;
}
#container .particle {
  position: absolute;
  border-radius: 50%;
}
@keyframes particle-animation-1 {
  100% {
    transform: translate3d(27vw, 75vh, 62px);
  }
}
#container .particle:nth-child(1) {
  animation: particle-animation-1 60s infinite;
  opacity: 0.45;
  height: 17px;
  width: 17px;
  animation-delay: -0.2s;
  transform: translate3d(38vw, 23vh, 33px);
  background: hsl(270, 70%, 50%);
}
@keyframes particle-animation-2 {
  100% {
    transform: translate3d(63vw, 37vh, 89px);
  }
}
#container .particle:nth-child(2) {
  animation: particle-animation-2 60s infinite;
  opacity: 0.33;
  height: 14px;
  width: 14px;
  animation-delay: -0.4s;
  transform: translate3d(80vw, 6vh, 4px);
  background: hsl(49, 70%, 50%);
}
@keyframes particle-animation-3 {
  100% {
    transform: translate3d(29vw, 35vh, 72px);
  }
}
#container .particle:nth-child(3) {
  animation: particle-animation-3 60s infinite;
  opacity: 0.74;
  height: 14px;
  width: 14px;
  animation-delay: -0.6s;
  transform: translate3d(43vw, 90vh, 76px);
  background: hsl(344, 70%, 50%);
}
@keyframes particle-animation-4 {
  100% {
    transform: translate3d(25vw, 80vh, 60px);
  }
}
#container .particle:nth-child(4) {
  animation: particle-animation-4 60s infinite;
  opacity: 0.6;
  height: 13px;
  width: 13px;
  animation-delay: -0.8s;
  transform: translate3d(35vw, 42vh, 35px);
  background: hsl(267, 70%, 50%);
}
@keyframes particle-animation-5 {
  100% {
    transform: translate3d(54vw, 21vh, 34px);
  }
}
#container .particle:nth-child(5) {
  animation: particle-animation-5 60s infinite;
  opacity: 0.2;
  height: 20px;
  width: 20px;
  animation-delay: -1s;
  transform: translate3d(24vw, 77vh, 54px);
  background: hsl(208, 70%, 50%);
}
@keyframes particle-animation-6 {
  100% {
    transform: translate3d(69vw, 18vh, 1px);
  }
}
#container .particle:nth-child(6) {
  animation: particle-animation-6 60s infinite;
  opacity: 0.59;
  height: 11px;
  width: 11px;
  animation-delay: -1.2s;
  transform: translate3d(36vw, 18vh, 47px);
  background: hsl(62, 70%, 50%);
}
@keyframes particle-animation-7 {
  100% {
    transform: translate3d(59vw, 22vh, 3px);
  }
}
#container .particle:nth-child(7) {
  animation: particle-animation-7 60s infinite;
  opacity: 0.08;
  height: 15px;
  width: 15px;
  animation-delay: -1.4s;
  transform: translate3d(64vw, 72vh, 97px);
  background: hsl(41, 70%, 50%);
}
@keyframes particle-animation-8 {
  100% {
    transform: translate3d(29vw, 31vh, 29px);
  }
}
#container .particle:nth-child(8) {
  animation: particle-animation-8 60s infinite;
  opacity: 0.74;
  height: 17px;
  width: 17px;
  animation-delay: -1.6s;
  transform: translate3d(37vw, 36vh, 45px);
  background: hsl(108, 70%, 50%);
}
@keyframes particle-animation-9 {
  100% {
    transform: translate3d(60vw, 86vh, 72px);
  }
}
#container .particle:nth-child(9) {
  animation: particle-animation-9 60s infinite;
  opacity: 0.34;
  height: 16px;
  width: 16px;
  animation-delay: -1.8s;
  transform: translate3d(6vw, 41vh, 70px);
  background: hsl(262, 70%, 50%);
}
@keyframes particle-animation-10 {
  100% {
    transform: translate3d(42vw, 39vh, 95px);
  }
}
#container .particle:nth-child(10) {
  animation: particle-animation-10 60s infinite;
  opacity: 0.04;
  height: 16px;
  width: 16px;
  animation-delay: -2s;
  transform: translate3d(29vw, 32vh, 66px);
  background: hsl(83, 70%, 50%);
}
@keyframes particle-animation-11 {
  100% {
    transform: translate3d(73vw, 82vh, 58px);
  }
}
#container .particle:nth-child(11) {
  animation: particle-animation-11 60s infinite;
  opacity: 0.66;
  height: 14px;
  width: 14px;
  animation-delay: -2.2s;
  transform: translate3d(54vw, 46vh, 61px);
  background: hsl(183, 70%, 50%);
}
@keyframes particle-animation-12 {
  100% {
    transform: translate3d(14vw, 43vh, 67px);
  }
}
#container .particle:nth-child(12) {
  animation: particle-animation-12 60s infinite;
  opacity: 0.48;
  height: 17px;
  width: 17px;
  animation-delay: -2.4s;
  transform: translate3d(37vw, 19vh, 87px);
  background: hsl(170, 70%, 50%);
}
@keyframes particle-animation-13 {
  100% {
    transform: translate3d(22vw, 55vh, 68px);
  }
}
#container .particle:nth-child(13) {
  animation: particle-animation-13 60s infinite;
  opacity: 0.54;
  height: 19px;
  width: 19px;
  animation-delay: -2.6s;
  transform: translate3d(31vw, 83vh, 39px);
  background: hsl(200, 70%, 50%);
}
@keyframes particle-animation-14 {
  100% {
    transform: translate3d(75vw, 53vh, 82px);
  }
}
#container .particle:nth-child(14) {
  animation: particle-animation-14 60s infinite;
  opacity: 0.26;
  height: 17px;
  width: 17px;
  animation-delay: -2.8s;
  transform: translate3d(66vw, 62vh, 64px);
  background: hsl(29, 70%, 50%);
}
@keyframes particle-animation-15 {
  100% {
    transform: translate3d(20vw, 34vh, 76px);
  }
}
#container .particle:nth-child(15) {
  animation: particle-animation-15 60s infinite;
  opacity: 0.02;
  height: 18px;
  width: 18px;
  animation-delay: -3s;
  transform: translate3d(34vw, 10vh, 90px);
  background: hsl(75, 70%, 50%);
}
@keyframes particle-animation-16 {
  100% {
    transform: translate3d(88vw, 47vh, 2px);
  }
}
#container .particle:nth-child(16) {
  animation: particle-animation-16 60s infinite;
  opacity: 0.64;
  height: 18px;
  width: 18px;
  animation-delay: -3.2s;
  transform: translate3d(25vw, 17vh, 32px);
  background: hsl(282, 70%, 50%);
}
@keyframes particle-animation-17 {
  100% {
    transform: translate3d(36vw, 47vh, 48px);
  }
}
#container .particle:nth-child(17) {
  animation: particle-animation-17 60s infinite;
  opacity: 0.01;
  height: 15px;
  width: 15px;
  animation-delay: -3.4s;
  transform: translate3d(78vw, 5vh, 97px);
  background: hsl(218, 70%, 50%);
}
@keyframes particle-animation-18 {
  100% {
    transform: translate3d(56vw, 59vh, 82px);
  }
}
#container .particle:nth-child(18) {
  animation: particle-animation-18 60s infinite;
  opacity: 0.03;
  height: 13px;
  width: 13px;
  animation-delay: -3.6s;
  transform: translate3d(46vw, 47vh, 74px);
  background: hsl(222, 70%, 50%);
}
@keyframes particle-animation-19 {
  100% {
    transform: translate3d(67vw, 38vh, 41px);
  }
}
#container .particle:nth-child(19) {
  animation: particle-animation-19 60s infinite;
  opacity: 0.6;
  height: 16px;
  width: 16px;
  animation-delay: -3.8s;
  transform: translate3d(42vw, 32vh, 60px);
  background: hsl(222, 70%, 50%);
}
@keyframes particle-animation-20 {
  100% {
    transform: translate3d(78vw, 29vh, 65px);
  }
}
#container .particle:nth-child(20) {
  animation: particle-animation-20 60s infinite;
  opacity: 0.1;
  height: 16px;
  width: 16px;
  animation-delay: -4s;
  transform: translate3d(51vw, 69vh, 33px);
  background: hsl(248, 70%, 50%);
}
@keyframes particle-animation-21 {
  100% {
    transform: translate3d(6vw, 20vh, 16px);
  }
}
#container .particle:nth-child(21) {
  animation: particle-animation-21 60s infinite;
  opacity: 0.91;
  height: 19px;
  width: 19px;
  animation-delay: -4.2s;
  transform: translate3d(82vw, 11vh, 13px);
  background: hsl(261, 70%, 50%);
}
@keyframes particle-animation-22 {
  100% {
    transform: translate3d(6vw, 88vh, 8px);
  }
}
#container .particle:nth-child(22) {
  animation: particle-animation-22 60s infinite;
  opacity: 0.31;
  height: 20px;
  width: 20px;
  animation-delay: -4.4s;
  transform: translate3d(8vw, 31vh, 15px);
  background: hsl(243, 70%, 50%);
}
@keyframes particle-animation-23 {
  100% {
    transform: translate3d(75vw, 27vh, 9px);
  }
}
#container .particle:nth-child(23) {
  animation: particle-animation-23 60s infinite;
  opacity: 0.73;
  height: 19px;
  width: 19px;
  animation-delay: -4.6s;
  transform: translate3d(36vw, 53vh, 50px);
  background: hsl(260, 70%, 50%);
}
@keyframes particle-animation-24 {
  100% {
    transform: translate3d(36vw, 24vh, 29px);
  }
}
#container .particle:nth-child(24) {
  animation: particle-animation-24 60s infinite;
  opacity: 0.71;
  height: 20px;
  width: 20px;
  animation-delay: -4.8s;
  transform: translate3d(87vw, 72vh, 19px);
  background: hsl(103, 70%, 50%);
}
@keyframes particle-animation-25 {
  100% {
    transform: translate3d(32vw, 44vh, 11px);
  }
}
#container .particle:nth-child(25) {
  animation: particle-animation-25 60s infinite;
  opacity: 0.59;
  height: 13px;
  width: 13px;
  animation-delay: -5s;
  transform: translate3d(37vw, 51vh, 50px);
  background: hsl(141, 70%, 50%);
}
@keyframes particle-animation-26 {
  100% {
    transform: translate3d(79vw, 69vh, 21px);
  }
}
#container .particle:nth-child(26) {
  animation: particle-animation-26 60s infinite;
  opacity: 0.58;
  height: 19px;
  width: 19px;
  animation-delay: -5.2s;
  transform: translate3d(15vw, 42vh, 98px);
  background: hsl(135, 70%, 50%);
}
@keyframes particle-animation-27 {
  100% {
    transform: translate3d(87vw, 20vh, 86px);
  }
}
#container .particle:nth-child(27) {
  animation: particle-animation-27 60s infinite;
  opacity: 0.05;
  height: 19px;
  width: 19px;
  animation-delay: -5.4s;
  transform: translate3d(79vw, 15vh, 22px);
  background: hsl(257, 70%, 50%);
}
@keyframes particle-animation-28 {
  100% {
    transform: translate3d(50vw, 72vh, 61px);
  }
}
#container .particle:nth-child(28) {
  animation: particle-animation-28 60s infinite;
  opacity: 0.67;
  height: 17px;
  width: 17px;
  animation-delay: -5.6s;
  transform: translate3d(69vw, 61vh, 66px);
  background: hsl(201, 70%, 50%);
}
@keyframes particle-animation-29 {
  100% {
    transform: translate3d(4vw, 25vh, 74px);
  }
}
#container .particle:nth-child(29) {
  animation: particle-animation-29 60s infinite;
  opacity: 0.57;
  height: 11px;
  width: 11px;
  animation-delay: -5.8s;
  transform: translate3d(90vw, 21vh, 93px);
  background: hsl(113, 70%, 50%);
}
@keyframes particle-animation-30 {
  100% {
    transform: translate3d(68vw, 15vh, 8px);
  }
}
#container .particle:nth-child(30) {
  animation: particle-animation-30 60s infinite;
  opacity: 0.53;
  height: 18px;
  width: 18px;
  animation-delay: -6s;
  transform: translate3d(35vw, 73vh, 71px);
  background: hsl(8, 70%, 50%);
}
#container #scrollShow {
  position: fixed;
  cursor: pointer;
  right: 5%;
  width: 40px;
  height: 40px;
  bottom: 5%;
  z-index: 20;
  transition: all 0.5s ease-in-out;
}
#container #scrollShow:hover {
  transform: scale(0.9, 0.9);
}
#container .isShowBtn {
  opacity: 1;
}
#container .isShowBtn_hide {
  opacity: 0;
}
#container a {
  text-decoration: none;
  color: white;
}
#container .header-menu {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 100px 50px 150px 150px 100px 100px;
  align-items: center;
  background: url(image/background.jpg) center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Kanit", sans-serif;
}
@media screen and (max-width: 965px) {
  #container .header-menu {
    transition: 0.5s ease-in-out;
    grid-template-columns: 20px 150px 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 0 auto;
  }
}
@media screen and (max-width: 760px) {
  #container .header-menu {
    transition: 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    grid-row-gap: 6px;
  }
  #container .header-menu nav {
    display: none;
  }
}
#container .header-menu a {
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
}
#container .header-menu .edem-head {
  grid-column: 2;
  z-index: 10;
}
#container .header-menu .home-head {
  grid-column: 3;
  justify-self: center;
  z-index: 10;
  transition: 0.2s ease-in-out;
}
#container .header-menu .home-head:hover {
  border-bottom: 2px solid #ff00eb;
}
#container .header-menu .about_us-head {
  grid-column: 4;
  justify-self: center;
  z-index: 10;
  transition: 0.2s ease-in-out;
}
#container .header-menu .about_us-head:hover {
  border-bottom: 2px solid #ff00eb;
}
#container .header-menu .gallery-head {
  grid-column: 5;
  justify-self: center;
  z-index: 10;
  transition: 0.2s ease-in-out;
}
#container .header-menu .gallery-head:hover {
  border-bottom: 2px solid #ff00eb;
}
#container .header-menu .event-head {
  grid-column: 6;
  justify-self: center;
  z-index: 10;
  transition: 0.2s ease-in-out;
}
#container .header-menu .event-head:hover {
  border-bottom: 2px solid #ff00eb;
}
#container .header-menu .news-head {
  justify-self: center;
  z-index: 10;
  transition: 0.2s ease-in-out;
}
#container .header-menu .news-head:hover {
  border-bottom: 2px solid #ff00eb;
}
#container .header-menu .contact-head {
  justify-self: center;
  transition: 0.2s ease-in-out;
}
#container .header-menu .contact-head:hover {
  border-bottom: 2px solid #ff00eb;
}
#container .header-menu .title-data {
  grid-row: 3;
  grid-column: 2;
  font-size: 40px;
  font-weight: 500;
  color: yellow;
  text-transform: uppercase;
  z-index: 10;
  animation: datatitle 0.7s ease-in-out;
}
@media screen and (max-width: 1200px) {
  #container .header-menu .title-data {
    transition: 0.5s ease-in-out;
    grid-column: 2/8;
    justify-self: center;
    transition: all 0.5s ease-in-out;
  }
}
@media screen and (max-width: 965px) {
  #container .header-menu .title-data {
    transition: 0.5s ease-in-out;
    grid-column: 2/10;
    justify-self: center;
    transition: all 0.5s ease-in-out;
  }
}
@media screen and (max-width: 768px) {
  #container .header-menu .title-data {
    transition: 0.5s ease-in-out;
    font-size: 30px;
  }
}
#container .header-menu .title-pers {
  grid-row: 4;
  grid-column: 2;
  text-transform: uppercase;
  font-size: 40px;
  color: white;
  font-weight: 900;
  word-spacing: 10px;
  z-index: 10;
  animation: perstitle 0.7s ease-in-out;
}
#container .header-menu .title-pers .p1 {
  background-color: rgb(255, 0, 234);
  z-index: 10;
}
@media screen and (max-width: 1200px) {
  #container .header-menu .title-pers {
    transition: 0.5s ease-in-out;
    grid-column: 2/8;
    justify-self: center;
    transition: all 0.5s ease-in-out;
  }
}
@media screen and (max-width: 965px) {
  #container .header-menu .title-pers {
    transition: 0.5s ease-in-out;
    grid-column: 2/10;
    justify-self: center;
    transition: all 0.5s ease-in-out;
  }
}
@media screen and (max-width: 768px) {
  #container .header-menu .title-pers {
    transition: 0.5s ease-in-out;
    font-size: 25px;
  }
}
#container .header-menu .title-desc {
  grid-row: 5;
  grid-column: 2/4;
  font-size: 70px;
  color: white;
  text-transform: uppercase;
  z-index: 10;
  animation: datatitle 0.7s ease-in-out;
}
@media screen and (max-width: 1200px) {
  #container .header-menu .title-desc {
    transition: 0.5s ease-in-out;
    grid-column: 2/8;
    justify-self: center;
    transition: all 0.5s ease-in-out;
  }
}
@media screen and (max-width: 965px) {
  #container .header-menu .title-desc {
    transition: 0.5s ease-in-out;
    grid-column: 2/10;
    justify-self: center;
    transition: all 0.5s ease-in-out;
  }
}
@media screen and (max-width: 780px) {
  #container .header-menu .title-desc {
    transition: 0.5s ease-in-out;
    font-size: 60px;
    justify-self: center;
    transition: all 0.5s ease-in-out;
  }
}
@media screen and (max-width: 768px) {
  #container .header-menu .title-desc {
    transition: 0.5s ease-in-out;
    font-size: 30px;
  }
}
#container .header-menu .title-descript {
  grid-row: 6;
  grid-column: 2;
  font-size: 17px;
  color: white;
  font-weight: 500;
  z-index: 10;
}
@media screen and (max-width: 1200px) {
  #container .header-menu .title-descript {
    transition: 0.5s ease-in-out;
    grid-column: 2/8;
    justify-self: center;
    text-align: center;
    transition: all 0.5s ease-in-out;
  }
}
@media screen and (max-width: 965px) {
  #container .header-menu .title-descript {
    transition: 0.5s ease-in-out;
    grid-column: 2/10;
    justify-self: center;
    transition: all 0.5s ease-in-out;
  }
}
#container .header-menu .button {
  grid-row: 7;
  grid-column: 2;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  #container .header-menu .button {
    transition: 0.5s ease-in-out;
    grid-column: 2/8;
    justify-self: center;
    transition: all 0.5s ease-in-out;
  }
}
@media screen and (max-width: 965px) {
  #container .header-menu .button {
    transition: 0.5s ease-in-out;
    grid-column: 2/10;
    justify-self: center;
    transition: all 0.5s ease-in-out;
  }
}
#container .header-menu .button:hover {
  letter-spacing: 1px;
}
#container .header-menu .button .btn_1 {
  background-color: rgb(0, 81, 255);
  width: 180px;
  height: 50px;
  padding-top: 10px;
  transition: 0.5s ease-in-out;
}
@media screen and (max-width: 768px) {
  #container .header-menu .button .btn_1 a {
    transition: 0.5s ease-in-out;
    font-size: 10px;
  }
}
@media screen and (max-width: 768px) {
  #container .header-menu .button .btn_1 {
    transition: 0.5s ease-in-out;
    width: 140px;
    height: 30px;
    padding-top: 1px;
  }
}
#container .header-menu .button .btn_1:hover {
  background-color: rgb(255, 0, 234);
}
#container .header-menu .title-img {
  grid-row: 3/7;
  grid-column: 3/5;
  position: relative;
  z-index: 1;
  animation: titleimg 0.8s ease-in-out;
}
#container .header-menu .title-img img {
  width: 650px;
  height: 650px;
}
@media screen and (max-width: 1200px) {
  #container .header-menu .title-img img {
    transition: 0.5s ease-in-out;
    display: none;
    transition: all 0.5s ease-in-out;
  }
}
#container .first-content {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 100px 100px 80px;
  text-align: center;
  background-color: black;
  color: white;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}
@media screen and (max-width: 768px) {
  #container .first-content {
    transition: 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
  }
}
#container .first-content .title-prev {
  grid-column: 2;
  font-size: 40px;
  font-weight: 500;
  align-self: end;
}
@media screen and (max-width: 768px) {
  #container .first-content .title-prev {
    transition: 0.5s ease-in-out;
    font-size: 30px;
    margin: 0 auto;
  }
}
#container .first-content .title-inf {
  grid-row: 2;
  grid-column: 2;
  align-self: center;
  border-bottom: 2px solid gray;
}
#container .first-content .title-head {
  grid-row: 3;
  grid-column: 2;
  align-self: end;
}
@media screen and (max-width: 768px) {
  #container .first-content .title-head {
    transition: 0.5s ease-in-out;
    margin: 0 auto;
  }
}
#container .first-content .title-head .p3 {
  font-size: 20px;
  font-weight: 100;
}
#container .first-content .title-head1 {
  grid-row: 4;
  grid-column: 2;
  position: relative;
  bottom: 50%;
  left: 50%;
  width: 20px;
  color: #00ffcc;
  margin-left: -10px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 100;
  font-family: "Roboto", sans-serif;
}
#container .first-content .title-head1 .p4 {
  grid-row: 4;
  grid-column: 2;
  content: "";
  position: relative;
  top: 0;
  left: 50%;
  margin-left: -50px;
  border-bottom: 1px solid #00ffcc;
  width: 100px;
  height: 1px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  #container .first-content .title-head1 .p4 {
    transition: 0.5s ease-in-out;
    display: none;
  }
}
#container .content-2 {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: 20px 700px 10px;
  grid-column-gap: 25px;
  box-sizing: content-box;
  position: relative;
}
@media screen and (max-width: 1200px) {
  #container .content-2 {
    transition: 0.5s ease-in-out;
    background: url(video/backgroundrgbimage.png) center;
    background-attachment: fixed;
    background-size: cover;
  }
}
@media screen and (max-width: 768px) {
  #container .content-2 {
    transition: 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
#container .content-2 .video-content {
  grid-column: 1/6;
  grid-row: 1/4;
  position: absolute;
  width: 100%;
  z-index: -1;
}
@media screen and (max-width: 768px) {
  #container .content-2 .video-content {
    transition: 0.5s ease-in-out;
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  #container .content-2 .video-content {
    transition: 0.5s ease-in-out;
    display: none;
  }
}
#container .content-2 .slider-img1 {
  grid-row: 2;
  grid-column: 2;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  #container .content-2 .slider-img1 {
    transition: 0.5s ease-in-out;
    grid-row: 1;
    grid-column: 1;
  }
}
#container .content-2 .tickets-menu {
  display: grid;
  grid-template-columns: 20px 1fr 1fr 1fr;
  grid-template-rows: 140px 120px 120px 120px 120px;
  grid-row: 2;
  grid-column: 3;
  background-color: rgb(2, 2, 70);
  align-items: center;
  justify-content: space-around;
}
@media screen and (max-width: 768px) {
  #container .content-2 .tickets-menu {
    transition: 0.5s ease-in-out;
    display: flex;
    grid-row: 2;
    grid-column: 1;
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
    grid-row-gap: 20px;
  }
}
#container .content-2 .tickets-menu .menu_prev {
  grid-row: 1;
  grid-column: 2/4;
  align-self: center;
  font-weight: var(--e-global-typography-5d167aa-font-weight);
  font-family: var(--e-global-typography-5d167aa-font-family), Sans-serif;
}
#container .content-2 .tickets-menu .menu_prev .title_menu {
  color: white;
  font-size: 40px;
  font-weight: 900;
}
#container .content-2 .tickets-menu .menu_prev .title_prev {
  color: white;
  font-size: 18px;
  font-weight: bold;
}
#container .content-2 .tickets-menu .content-tickets {
  display: grid;
  grid-row: 2;
  grid-column: 2;
  align-self: center;
  justify-self: start;
}
#container .content-2 .tickets-menu .maps {
  width: 10px;
  height: 10px;
}
#container .content-2 .tickets-menu .clock {
  margin-left: 5%;
}
#container .content-2 .tickets-menu .font {
  font-size: 16px;
  font-weight: 300;
  margin-left: 5px;
  color: white;
}
#container .content-2 .tickets-menu .info_1 {
  color: white;
  font-weight: bold;
  font-size: 20px;
}
#container .content-2 .moth-info {
  grid-row: 2;
  grid-column: 3;
  justify-self: center;
  align-self: center;
}
#container .content-2 .info_2 {
  font-size: 16px;
  color: white;
  text-align: center;
}
#container .content-2 .get-ticket {
  grid-row: 2;
  grid-column: 4;
  width: 150px;
  height: 45px;
  text-align: center;
  justify-self: center;
  margin-top: -5%;
  background: linear-gradient(to left top, #ff00eb, #c958ff, #8e75ff, #5185fe, #128deb);
}
#container .content-2 .get-ticket .btn_ticket {
  margin-top: 5%;
}
#container .content-2 .get-ticket:hover {
  background: linear-gradient(to right top, #ff00eb, #c958ff, #8e75ff, #5185fe, #128deb);
}
#container .content-2 .content-tickets2 {
  grid-row: 3;
  grid-column: 2;
  justify-self: start;
}
#container .content-2 .moth-info2 {
  grid-row: 3;
  grid-column: 3;
  justify-self: center;
  font-size: var(--e-global-typography-69c152f-font-size) 13px;
}
#container .content-2 .get-ticket1 {
  grid-row: 3;
  grid-column: 4;
  width: 150px;
  height: 45px;
  text-align: center;
  justify-self: center;
  margin-top: -5%;
  background: linear-gradient(to left top, #ff00eb, #c958ff, #8e75ff, #5185fe, #128deb);
}
#container .content-2 .get-ticket1 .btn_ticket1 {
  margin-top: 5%;
}
#container .content-2 .get-ticket1:hover {
  background: linear-gradient(to right top, #ff00eb, #c958ff, #8e75ff, #5185fe, #128deb);
}
#container .content-2 .content-tickets3 {
  grid-row: 4;
  grid-column: 2;
  justify-self: start;
}
#container .content-2 .moth-info3 {
  grid-row: 4;
  grid-column: 3;
  justify-self: center;
}
#container .content-2 .get-ticket2 {
  grid-row: 4;
  grid-column: 4;
  width: 150px;
  height: 45px;
  text-align: center;
  justify-self: center;
  margin-top: -5%;
  background: linear-gradient(to left top, #ff00eb, #c958ff, #8e75ff, #5185fe, #128deb);
}
#container .content-2 .get-ticket2 .btn_ticket2 {
  margin-top: 5%;
}
#container .content-2 .get-ticket2:hover {
  background: linear-gradient(to right top, #ff00eb, #c958ff, #8e75ff, #5185fe, #128deb);
}
#container .content-2 .content-tickets4 {
  grid-row: 5;
  grid-column: 2;
  justify-self: start;
}
#container .content-2 .moth-info4 {
  grid-row: 5;
  grid-column: 3;
  justify-self: center;
}
#container .content-2 .get-ticket4 {
  grid-row: 5;
  grid-column: 4;
  width: 150px;
  height: 45px;
  text-align: center;
  justify-self: center;
  margin-top: -5%;
  background: linear-gradient(to left top, #ff00eb, #c958ff, #8e75ff, #5185fe, #128deb);
}
#container .content-2 .get-ticket4 .btn_ticket4 {
  margin-top: 5%;
}
#container .content-2 .get-ticket4:hover {
  background: linear-gradient(to right top, #ff00eb, #c958ff, #8e75ff, #5185fe, #128deb);
}

.services {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  grid-template-rows: 150px 250px 150px;
  background: url(image/backgroundrgb.jpg) center;
  background-attachment: fixed;
  background-size: cover;
  justify-content: space-around;
}
@media screen and (max-width: 965px) {
  .services {
    transition: 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 992px) {
  .services {
    transition: 0.5s ease-in-out;
    grid-template-columns: 250px 250px 250px;
  }
}
.services .services-title {
  grid-row: 1;
  grid-column: 2;
  justify-self: center;
  align-self: center;
}
.services .services-title .se-p1 {
  font-size: var(--e-global-typography-84ca66e-font-size) 15px;
  text-transform: uppercase;
  color: #ff00eb;
  animation: serv 4s ease-in-out infinite;
}
.services .foodquality {
  grid-row: 2;
  grid-column: 1;
  font-family: "Roboto", sans-serif;
  position: relative;
  text-align: center;
  transition: 0.6s ease-in-out;
}
.services .foodquality:hover {
  box-shadow: 0 0 10px #ff00eb;
  margin-top: -10%;
}
.services .foodquality .quality {
  width: 110px;
  height: 110px;
  position: relative;
}
.services .foodquality .foodinfo {
  color: white;
  font-weight: bold;
  position: relative;
  font-size: 25px;
}
.services .foodquality .qualitiprev {
  font-size: 16px;
  color: white;
  font-weight: 400;
}
.services .bar {
  grid-row: 2;
  grid-column: 2;
  text-align: center;
  transition: 0.6s ease-in-out;
}
.services .bar:hover {
  box-shadow: 0 0 10px #ff00eb;
  margin-top: -10%;
}
.services .bar .barinfo {
  color: white;
  font-weight: bold;
  position: relative;
  font-size: 25px;
}
.services .bar .barprev {
  font-size: 16px;
  color: white;
  font-weight: 400;
}
.services .restourant {
  grid-row: 2;
  grid-column: 3;
  text-align: center;
  transition: 0.6s ease-in-out;
}
.services .restourant:hover {
  box-shadow: 0 0 10px #ff00eb;
  margin-top: -10%;
}
.services .restourant .restinfo {
  color: white;
  font-weight: bold;
  position: relative;
  font-size: 25px;
}
.services .restourant .restprev {
  font-size: 16px;
  color: white;
  font-weight: 400;
}

.content-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-template-rows: 150px 150px 350px 80px 100px;
  justify-content: space-around;
  grid-column-gap: 20px;
  background: url(image/back.png) center;
  background-size: cover;
  background-attachment: fixed;
  box-sizing: border-box;
}
@media screen and (max-width: 768px) {
  .content-3 {
    transition: 0.5s ease-in-out;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px 60px 350px 50px 350px 40px 350px 40px 20px;
    grid-row-gap: 10px;
  }
}
@media screen and (max-width: 992px) {
  .content-3 {
    transition: 0.5s ease-in-out;
    display: grid;
    grid-template-columns: 550px;
    grid-template-rows: 50px 60px 350px 50px 350px 40px 350px 40px 20px;
    grid-row-gap: 10px;
  }
}
@media screen and (max-width: 416px) {
  .content-3 {
    transition: 0.5s ease-in-out;
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 50px 60px 300px 50px 300px 40px 300px 40px 20px;
    grid-row-gap: 10px;
  }
}
.content-3 .nightmucic {
  grid-row: 1;
  grid-column: 2;
  align-self: end;
  justify-self: center;
  font-size: var(--e-global-typography-84ca66e-font-size) 15px;
  text-transform: uppercase;
  color: orange;
  font-weight: bold;
  animation: serv 4s ease-in-out infinite;
}
@media screen and (max-width: 768px) {
  .content-3 .nightmucic {
    transition: 0.5s ease-in-out;
    grid-row: 1;
    grid-column: 1;
  }
}
@media screen and (max-width: 992px) {
  .content-3 .nightmucic {
    transition: 0.5s ease-in-out;
    grid-row: 1;
    grid-column: 1;
  }
}
.content-3 .lastrelease {
  grid-row: 2;
  grid-column: 2;
  align-self: center;
  justify-self: center;
  font-size: 30px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .content-3 .lastrelease {
    transition: 0.5s ease-in-out;
    font-size: 20px;
    grid-row: 2;
    grid-column: 1;
  }
}
@media screen and (max-width: 992px) {
  .content-3 .lastrelease {
    transition: 0.5s ease-in-out;
    grid-row: 2;
    grid-column: 1;
  }
}
.content-3 .lxstcentury {
  grid-row: 3;
  position: relative;
  grid-column: 1;
  background: url(image/lxst.jpg) center;
  background-size: cover;
}
.content-3 .infoartist {
  padding-top: 50%;
  padding-left: 10%;
  position: relative;
  font-size: 25px;
  font-weight: bold;
  color: white;
}
@media screen and (max-width: 768px) {
  .content-3 .infoartist {
    transition: 0.5s ease-in-out;
    padding-top: 30%;
  }
}
@media screen and (max-width: 416px) {
  .content-3 .infoartist {
    transition: 0.5s ease-in-out;
    padding-top: 20%;
  }
}
@media screen and (max-width: 992px) {
  .content-3 .infoartist {
    transition: 0.5s ease-in-out;
    padding-top: 35%;
  }
}
.content-3 .asenssia {
  grid-row: 3;
  grid-column: 2;
  background: url(image/assensia.jpg) center;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .content-3 .asenssia {
    transition: 0.5s ease-in-out;
    grid-row: 5;
    grid-column: 1;
  }
}
@media screen and (max-width: 992px) {
  .content-3 .asenssia {
    transition: 0.5s ease-in-out;
    grid-row: 5;
    grid-column: 1;
  }
}
.content-3 .streamon2 {
  grid-row: 4;
  grid-column: 3;
  color: white;
  font-size: 25px;
  font-weight: bold;
  align-self: center;
}
@media screen and (max-width: 768px) {
  .content-3 .streamon2 {
    transition: 0.5s ease-in-out;
    grid-row: 6;
    grid-column: 1;
  }
}
@media screen and (max-width: 992px) {
  .content-3 .streamon2 {
    transition: 0.5s ease-in-out;
    grid-row: 6;
    grid-column: 1;
  }
}
.content-3 .streamon2 #Spotify {
  width: 30px;
  height: 30px;
  fill: white;
  transition: 0.5s ease-in-out;
}
.content-3 .streamon2 #Spotify:hover {
  fill: #ff00eb;
  transform: scale(1.1, 1.1);
}
.content-3 .streamon2 #youtube {
  width: 30px;
  height: 30px;
  fill: white;
  transition: 0.5s ease-in-out;
}
.content-3 .streamon2 #youtube:hover {
  fill: #ff00eb;
  transform: scale(1.1, 1.1);
}
.content-3 .streamon2 #soundclound {
  width: 30px;
  height: 30px;
  fill: white;
  transition: 0.5s ease-in-out;
}
.content-3 .streamon2 #soundclound:hover {
  fill: #ff00eb;
  transform: scale(1.1, 1.1);
}
.content-3 .streamon3 {
  grid-row: 4;
  grid-column: 2;
  color: white;
  font-size: 25px;
  font-weight: bold;
  align-self: center;
}
@media screen and (max-width: 768px) {
  .content-3 .streamon3 {
    transition: 0.5s ease-in-out;
    grid-row: 8;
    grid-column: 1;
  }
}
@media screen and (max-width: 992px) {
  .content-3 .streamon3 {
    transition: 0.5s ease-in-out;
    grid-row: 8;
    grid-column: 1;
  }
}
.content-3 .streamon3 #Spotify {
  width: 30px;
  height: 30px;
  fill: white;
  transition: 0.5s ease-in-out;
}
.content-3 .streamon3 #Spotify:hover {
  fill: #ff00eb;
  transform: scale(1.1, 1.1);
}
.content-3 .streamon3 #youtube {
  width: 30px;
  height: 30px;
  fill: white;
  transition: 0.5s ease-in-out;
}
.content-3 .streamon3 #youtube:hover {
  fill: #ff00eb;
  transform: scale(1.1, 1.1);
}
.content-3 .streamon3 #soundclound {
  width: 30px;
  height: 30px;
  fill: white;
  transition: 0.5s ease-in-out;
}
.content-3 .streamon3 #soundclound:hover {
  fill: #ff00eb;
  transform: scale(1.1, 1.1);
}
.content-3 .streamon {
  grid-row: 4;
  grid-column: 1;
  color: white;
  font-size: 25px;
  font-weight: bold;
  align-self: center;
}
.content-3 .streamon #Spotify {
  width: 30px;
  height: 30px;
  fill: white;
  transition: 0.5s ease-in-out;
}
.content-3 .streamon #Spotify:hover {
  fill: #ff00eb;
  transform: scale(1.1, 1.1);
}
.content-3 .streamon #youtube {
  width: 30px;
  height: 30px;
  fill: white;
  transition: 0.5s ease-in-out;
}
.content-3 .streamon #youtube:hover {
  fill: #ff00eb;
  transform: scale(1.1, 1.1);
}
.content-3 .streamon #soundclound {
  width: 30px;
  height: 30px;
  fill: white;
  transition: 0.5s ease-in-out;
}
.content-3 .streamon #soundclound:hover {
  fill: #ff00eb;
  transform: scale(1.1, 1.1);
}
.content-3 .irradiated {
  grid-row: 3;
  grid-column: 3;
  background: url(image/runaway.jpg) center;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .content-3 .irradiated {
    transition: 0.5s ease-in-out;
    grid-row: 7;
    grid-column: 1;
  }
}
@media screen and (max-width: 992px) {
  .content-3 .irradiated {
    transition: 0.5s ease-in-out;
    grid-row: 7;
    grid-column: 1;
  }
}

.content-4 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-template-rows: 100px 70px 350px 350px 20px;
  background-color: black;
  justify-content: space-around;
  grid-column-gap: 20px;
  grid-row-gap: 25px;
}
@media screen and (max-width: 768px) {
  .content-4 {
    transition: 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    grid-row-gap: 25px;
  }
}
.content-4 .img-class {
  width: 100%;
  height: 100%;
  transition: 0.6s ease-in-out;
}
.content-4 .img-class:hover {
  transform: scale(1.2, 1.2);
}
.content-4 .latestphoto {
  grid-row: 1;
  grid-column: 2;
  font-size: 18px;
  color: orange;
  text-transform: uppercase;
  font-weight: bold;
  align-self: end;
  text-align: center;
}
@media screen and (max-width: 992px) {
  .content-4 .latestphoto {
    transition: 0.5s ease-in-out;
    margin: 0 auto;
  }
}
.content-4 .party {
  grid-row: 2;
  grid-column: 2;
  color: white;
  align-self: center;
  justify-self: center;
  font-size: 40px;
  text-transform: uppercase;
}
.content-4 .photo-1 {
  grid-row: 3;
  grid-column: 1;
  overflow: hidden;
  position: relative;
}
.content-4 .photo-1:hover {
  width: 100%;
  height: 100%;
  background: black;
  opacity: 50%;
}
.content-4 .photo-2 {
  grid-row: 3;
  grid-column: 2;
  overflow: hidden;
}
.content-4 .photo-2:hover {
  width: 100%;
  height: 100%;
  background: black;
  opacity: 50%;
}
.content-4 .photo-3 {
  grid-row: 3;
  grid-column: 3;
  overflow: hidden;
}
.content-4 .photo-3:hover {
  width: 100%;
  height: 100%;
  background: black;
  opacity: 50%;
}
.content-4 .photo-4 {
  grid-row: 4;
  grid-column: 1;
  overflow: hidden;
}
.content-4 .photo-4:hover {
  width: 100%;
  height: 100%;
  background: black;
  opacity: 50%;
}
.content-4 .photo-5 {
  grid-row: 4;
  grid-column: 2;
  overflow: hidden;
}
.content-4 .photo-5:hover {
  width: 100%;
  height: 100%;
  background: black;
  opacity: 50%;
}
.content-4 .photo-6 {
  grid-row: 4;
  grid-column: 3;
  overflow: hidden;
}
.content-4 .photo-6:hover {
  width: 100%;
  height: 100%;
  background: black;
  opacity: 50%;
}

.Newsletter {
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  grid-template-rows: 250px 100px 300px;
  box-sizing: border-box;
}
@media screen and (max-width: 768px) {
  .Newsletter {
    transition: 0.5s ease-in-out;
    grid-template-columns: 100%;
    grid-template-rows: 100px 100px 200px;
  }
}
@media screen and (max-width: 596px) and (max-height: 500px) {
  .Newsletter {
    transition: 0.5s ease-in-out;
    grid-template-columns: 100%;
    grid-template-rows: 100px 100px 150px;
  }
}
.Newsletter img {
  grid-row: 1;
  position: absolute;
  width: 100%;
  height: 100%;
}
.Newsletter .newlletter-title {
  position: relative;
  grid-row: 1;
  grid-column: 1;
  justify-self: center;
  align-self: end;
  color: white;
  font-size: 50px;
  font-weight: var(--e-global-typography-5d167aa-font-weight);
  font-family: var(--e-global-typography-5d167aa-font-family), Sans-serif;
}
.Newsletter .subscribe {
  position: relative;
  grid-row: 2;
  grid-column: 1;
  justify-self: center;
  align-self: start;
  font-size: 25px;
  text-align: center;
  color: white;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .Newsletter .subscribe {
    transition: 0.5s ease-in-out;
    font-size: 15px;
  }
}
.Newsletter .form {
  grid-row: 3;
  grid-column: 1/auto;
  position: relative;
  justify-self: center;
}
@media screen and (max-width: 768px) {
  .Newsletter .form {
    transition: 0.5s ease-in-out;
    margin: 0 auto;
  }
}
.Newsletter .form #input-value {
  width: 600px;
  height: 50px;
  transition: 0.6s ease-in-out;
}
.Newsletter .form #input-value:hover {
  box-shadow: 0px 0px 0px 10px #ff00eb;
}
@media screen and (max-width: 768px) {
  .Newsletter .form #input-value {
    transition: 0.5s ease-in-out;
    width: 100%;
  }
}
.Newsletter .form #sumbit {
  width: 150px;
  height: 50px;
  color: white;
  font-weight: 500;
  border: none;
  position: relative;
  margin-left: -4px;
  background: linear-gradient(to left top, #ff00eb, #c958ff, #8e75ff, #5185fe, #128deb);
}
.Newsletter .form #sumbit:after {
  position: absolute;
  top: 14px;
  left: 25px;
  content: " ✉️";
}
.Newsletter .form #sumbit:hover {
  background: linear-gradient(to right top, #ff00eb, #c958ff, #8e75ff, #5185fe, #128deb);
}

.footer {
  position: relative;
  background-color: black;
  display: grid;
  grid-template-rows: 70px;
  background-color: #100726;
  align-items: center;
  font-family: "Kanit", sans-serif;
  border-top: 2px solid gray;
}
@media screen and (max-width: 768px) {
  .footer {
    transition: 0.5s ease-in-out;
    display: flex;
    flex-direction: column-reverse;
    grid-row-gap: 25px;
  }
}
.footer .logo-bottom {
  justify-self: center;
}
@media screen and (max-width: 416px) {
  .footer .logo-bottom {
    transition: 0.5s ease-in-out;
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .footer .logo-bottom {
    transition: 0.5s ease-in-out;
    display: none;
  }
}
.footer .text-footer {
  grid-row: 1;
  grid-column: 3;
  text-align: center;
  font-size: 18px;
  color: white;
  font-weight: 300;
}
.footer .logo-footer {
  text-align: center;
}
.footer #youtube {
  width: 20px;
  height: 20px;
  fill: white;
  margin-left: 15px;
  transition: all 0.5s ease-in-out;
}
.footer #youtube:hover {
  fill: #ff00eb;
  transform: scale(1.2, 1.2);
}
.footer #soundclound {
  width: 20px;
  height: 20px;
  fill: white;
  margin-left: 15px;
  transition: all 0.5s ease-in-out;
}
.footer #soundclound:hover {
  fill: #ff00eb;
  transform: scale(1.2, 1.2);
}
.footer #Spotify {
  width: 20px;
  height: 20px;
  fill: white;
  margin-left: 15px;
  transition: all 0.5s ease-in-out;
}
.footer #Spotify:hover {
  fill: #ff00eb;
  transform: scale(1.2, 1.2);
}
.footer #dribble {
  width: 20px;
  height: 20px;
  fill: white;
  transition: all 0.5s ease-in-out;
}
.footer #dribble:hover {
  fill: #ff00eb;
  transform: scale(1.2, 1.2);
}
.footer .title-text {
  grid-row: 2;
  grid-column: 1/9;
}

@keyframes datatitle {
  0% {
    margin-left: -25px;
    opacity: 0;
  }
  100% {
    left: 25px;
    opacity: 1;
  }
}
@keyframes perstitle {
  0% {
    margin-left: 35px;
    opacity: 0;
  }
  100% {
    margin-left: -15px;
    opacity: 1;
  }
}
@keyframes titleimg {
  0% {
    margin-bottom: 25px;
    opacity: 0;
  }
  100% {
    margin-bottom: -25px;
    opacity: 1;
  }
}
@keyframes serv {
  0% {
    text-shadow: 0 0 10px #ff00eb;
  }
  100% {
    text-shadow: none;
  }
}
@keyframes glava {
  0% {
    filter: grayscale(100%);
  }
  100% {
    filter: grayscale(0);
  }
}
.menu__btn {
  z-index: 400;
}

.hamburger-menu {
  display: none;
}
@media screen and (max-width: 760px) {
  .hamburger-menu {
    transition: 0.5s ease-in-out;
    display: block;
  }
}
.hamburger-menu a {
  color: white;
}/*# sourceMappingURL=site.css.map */