@import "../siteground/adapt.css";
@import "../siteground/adapt.scss";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau:ital@1&display=swap');
#container {
    overflow: hidden;
    @include breakpoint (xl) {
        background: url(image/bakcground.vi.png) center;
        background-size: cover;
    }
    .backvideo {
        position: absolute;
        width: 100%;
        @include breakpoint (xl) {
            display: none;
        }
    }
    box-sizing: content-box;
    margin: 0 auto;
    #scrollShow {
        position: fixed;
        cursor: pointer;
        right: 5%;
        width: 40px;
        height: 40px;
        bottom: 5%;
        z-index: 30;
        transition: all 0.5s ease-in-out;
        &:hover {
            transform: scale(0.9, 0.9);
        }
    }
    .isShowBtn {
        opacity: 1;
    }
    .isShowBtn_hide {
        opacity: 0;
    }
    box-sizing: border-box;
    margin: 0 auto;
    cursor: default;
    a {
        text-decoration: none;
        color: white;
    }
    .header-menu {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 4fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 100px 100px;
        align-items: center;
        background-color: var(--e-global-color-32922f5);
        font-family: "Kanit", sans-serif;
        background: url(image/background.png)center;
        background-size: cover;
        background-attachment: fixed;
        @include breakpoint (xsm) {
            display: flex;
            flex-direction: column;
            grid-row-gap: 6px;
            nav {
                display: none;
            }
        }
        @include breakpoint (lg) {
            grid-template-columns: 20px 150px 1fr 1fr 1fr 1fr 1fr 1fr;
        }
        .head-about-us {
            grid-row: 2;
            grid-column: 1/9;
            justify-self: center;
            font-size: 60px;
            color: white;
            font-weight: var(--e-global-typography-583e54c-font-weight);
            letter-spacing: 1px;
            .switching {
                font-size: 15px;
                font-weight: 500;
                text-transform: uppercase;
                font-family: 'Oswald', sans-serif;
                text-align: center;
                a {
                    transition: .4s ease-in-out;
                    &:hover {
                        color: rgb(0, 162, 255);
                    }
                }
                .blue {
                    color: #ff00eb;
                }
            }
        }
        a {
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
        }
        .edem-head {
            grid-row: 1;
            grid-column: 2;
        }
        .home-head {
            grid-row: 1;
            grid-column: 3;
            justify-self: center;
            a {
                transition: .3s ease-in-out;
                &:hover {
                    border-bottom: 2px solid #ff00eb;
                }
            }
        }
        .about_us-head {
            grid-row: 1;
            grid-column: 4;
            justify-self: center;
            a {
                transition: .3s ease-in-out;
                &:hover {
                    border-bottom: 2px solid #ff00eb;
                }
            }
        }
        .gallery-head {
            grid-row: 1;
            grid-column: 5;
            justify-self: center;
            a {
                transition: .3s ease-in-out;
                &:hover {
                    border-bottom: 2px solid #ff00eb;
                }
            }
        }
        .event-head {
            grid-row: 1;
            grid-column: 6;
            justify-self: center;
            a {
                transition: .3s ease-in-out;
                &:hover {
                    border-bottom: 2px solid #ff00eb;
                }
            }
        }
        .news-head {
            grid-row: 1;
            grid-column: 7;
            justify-self: center;
            a {
                transition: .3s ease-in-out;
                &:hover {
                    border-bottom: 2px solid #ff00eb;
                }
            }
        }
        .contact-head {
            grid-row: 1;
            grid-column: 8;
            justify-self: center;
            a {
                transition: .3s ease-in-out;
                &:hover {
                    border-bottom: 2px solid #ff00eb;
                }
            }
        }
    }
    .events {
        position: relative;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        align-items: center;
        font-family: "Kanit", sans-serif;
        .marg {
            justify-self: center;
            margin-left: -30px;
        }
        @include breakpoint (md) {
            grid-row-gap: 20px;
        }
        @include breakpoint (sm) {
            display: flex;
            flex-direction: column;
        }
        .data {
            color: white;
            margin: 0 auto;
            font-size: 55px;
            justify-content: space-around;
            @include breakpoint (xl) {
                font-size: 45px;
            }
            @include breakpoint (sm) {
                font-size: 65px;
            }
            .data-nov {
                float: right;
                font-size: 18px;
                margin-top: 15px;
                @include breakpoint (xl) {
                    font-size: 25px;
                }
                @include breakpoint (sm) {
                    font-size: 30px;
                }
            }
        }
        .nickname {
            font-size: 35px;
            justify-self: center;
            color: rgb(4, 193, 218);
            @include breakpoint (xl) {
                font-size: 25px;
            }
            @include breakpoint (lg) {
                font-size: 17px;
            }
            @include breakpoint (sm) {
                font-size: 24px;
            }
        }
        .music {
            font-size: 20px;
            justify-self: center;
            color: white;
            @include breakpoint (xl) {
                font-size: 20px;
            }
            @include breakpoint (lg) {
                font-size: 17px;
            }
            @include breakpoint (sm) {
                font-size: 20px;
            }
        }
        .btn-ticket {
            justify-self: center;
            font-size: 20px;
            font-weight: bold;
            text-transform: uppercase;
            @include breakpoint (xl) {
                font-size: 15px;
            }
            @include breakpoint (lg) {
                font-size: 17px;
            }
            a {
                @include breakpoint (lg) {
                    color: rgb(4, 193, 218);
                }
                transition: 0.5s ease-in-out;
                &:hover {
                    color: rgb(4, 193, 218);
                }
            }
        }
    }
}

.footer {
    position: relative;
    background-color: black;
    display: grid;
    grid-template-rows: 70px;
    background-color: #100726;
    align-items: center;
    font-family: 'Kanit', sans-serif;
    border-top: 2px solid gray;
    @include breakpoint (md) {
        display: flex;
        flex-direction: column-reverse;
        grid-row-gap: 25px;
    }
    .logo-bottom {
        justify-self: center;
        @include breakpoint (ssm) {
            display: none;
        }
        @include breakpoint (md) {
            display: none;
        }
    }
    .text-footer {
        grid-row: 1;
        grid-column: 3;
        text-align: center;
        font-size: 18px;
        color: white;
        font-weight: 300;
    }
    .logo-footer {
        text-align: center;
    }
    #youtube {
        width: 20px;
        height: 20px;
        fill: white;
        margin-left: 15px;
        transition: all 0.5s ease-in-out;
        &:hover {
            fill: #ff00eb;
            transform: scale(1.2, 1.2);
        }
    }
    #soundclound {
        width: 20px;
        height: 20px;
        fill: white;
        margin-left: 15px;
        transition: all 0.5s ease-in-out;
        &:hover {
            fill: #ff00eb;
            transform: scale(1.2, 1.2);
        }
    }
    #Spotify {
        width: 20px;
        height: 20px;
        fill: white;
        margin-left: 15px;
        transition: all 0.5s ease-in-out;
        &:hover {
            fill: #ff00eb;
            transform: scale(1.2, 1.2);
        }
    }
    #dribble {
        width: 20px;
        height: 20px;
        fill: white;
        transition: all 0.5s ease-in-out;
        &:hover {
            fill: #ff00eb;
            transform: scale(1.2, 1.2);
        }
    }
    .title-text {
        grid-row: 2;
        grid-column: 1/9;
    }
}

.menu__btn {
    z-index: 400;
}

.blockmp4 {
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0;
}

.hamburger-menu {
    display: none;
    @include breakpoint (xsm) {
        display: block;
    }
    a {
        color: white;
    }
}