@charset "UTF-8";
@import "../siteground/adapt.css";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ysabeau:ital@1&display=swap");
html {
  scroll-behavior: smooth;
}

.hamburger-menu {
  display: none;
  background-color: black;
}

.menu__btn {
  display: flex;
  /* используем flex для центрирования содержимого */
  align-items: center;
  /* центрируем содержимое кнопки */
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 400;
}

/* скрываем чекбокс */
#menu__toggle {
  opacity: 0;
}

/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}

.menu__btn > span::after {
  content: "";
  top: 8px;
}

/* контейнер меню */
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  z-index: 100;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: black;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}

/* элементы меню */
.menu__item {
  display: block;
  padding: 12px 24px;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  position: relative;
  z-index: 204;
}

.menu__item:hover {
  background-color: pink;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: 0.25s;
}

.menu__box {
  transition-duration: 0.25s;
}

.menu__item {
  transition-duration: 0.25s;
}

.container {
  max-width: 1140px;
  padding: 0 16px;
  margin: 0 auto;
}

.section {
  text-align: center;
  padding: 64px 0;
}

.h2 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 32px;
}

.image {
  margin-bottom: 32px;
}

.image a {
  border-radius: 8px;
  max-width: 512px;
  width: 100%;
  height: 300px;
  display: block;
  margin: 0 auto;
  overflow: hidden;
}

.image img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
}

.text {
  font-size: 18px;
  max-width: 512px;
  margin: 0 auto;
}

/* Начальные стили для элемента, который будет следовать за курсором, в нашем случае небольшой кружок */
.follow-cursor {
  display: block;
  width: 24px;
  height: 24px;
  border: 1px solid #0d6efd;
  border-radius: 50%;
  position: absolute;
  transform: translateY(-50%) translateX(-50%);
  /* центрируем кружок */
  position: absolute;
  /* задаём абсолютное позиционирование, чтобы элемент не влиял на остальные элементы и его можно было бы позиционировать следом за курсором */
  z-index: 999;
  /* чтобы элемент был над остальными элементами */
  pointer-events: none;
  /* чтобы сквозь элемент можно было взаимодействовать с элементами, находящимися под ним */
  transition: width 0.64s, height 0.64s, border-radius 0.64s, background 0.64s;
}

/* Активный класс для кружка при наведении на ссылку */
.follow-cursor_active {
  position: absolute;
  height: 128px;
  width: 128px;
  border-width: 2px;
  background: rgba(13, 110, 253, 0.32);
}

/* Скрываем декоративный элемент при ширине браузера меньше 992px */
@media (max-width: 991.98px) {
  .follow-cursor {
    display: none;
  }
}
.blockmp4 {
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0;
}

#container {
  box-sizing: content-box;
  margin: 0 auto;
  box-sizing: border-box;
  margin: 0 auto;
  cursor: default;
}
#container #scrollShow {
  position: fixed;
  cursor: pointer;
  right: 5%;
  width: 40px;
  height: 40px;
  bottom: 5%;
  z-index: 30;
  transition: all 0.5s ease-in-out;
}
#container #scrollShow:hover {
  transform: scale(0.9, 0.9);
}
#container .isShowBtn {
  opacity: 1;
}
#container .isShowBtn_hide {
  opacity: 0;
}
#container a {
  text-decoration: none;
  color: white;
}
#container .header-menu {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px;
  align-items: center;
  background-color: var(--e-global-color-32922f5);
  font-family: "Kanit", sans-serif;
  background: url(../siteground/image/background.jpg) center;
  background-size: cover;
  background-attachment: fixed;
}
@media screen and (max-width: 760px) {
  #container .header-menu {
    transition: 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    grid-row-gap: 6px;
  }
  #container .header-menu nav {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  #container .header-menu {
    transition: 0.5s ease-in-out;
    grid-template-columns: 20px 150px 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
#container .header-menu .head-about-us {
  grid-row: 2;
  grid-column: 1/9;
  justify-self: center;
  font-size: 60px;
  color: white;
  font-weight: var(--e-global-typography-583e54c-font-weight);
  letter-spacing: 1px;
}
#container .header-menu .head-about-us .switching {
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  text-align: center;
}
#container .header-menu .head-about-us .switching a {
  transition: 0.4s ease-in-out;
}
#container .header-menu .head-about-us .switching a:hover {
  color: rgb(0, 162, 255);
}
#container .header-menu .head-about-us .switching .blue {
  color: #ff00eb;
}
#container .header-menu a {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
#container .header-menu .edem-head {
  grid-row: 1;
  grid-column: 2;
}
#container .header-menu .home-head {
  grid-row: 1;
  grid-column: 3;
  justify-self: center;
}
#container .header-menu .home-head a {
  transition: 0.3s ease-in-out;
}
#container .header-menu .home-head a:hover {
  border-bottom: 2px solid #ff00eb;
}
#container .header-menu .about_us-head {
  grid-row: 1;
  grid-column: 4;
  justify-self: center;
}
#container .header-menu .about_us-head a {
  transition: 0.3s ease-in-out;
}
#container .header-menu .about_us-head a:hover {
  border-bottom: 2px solid #ff00eb;
}
#container .header-menu .gallery-head {
  grid-row: 1;
  grid-column: 5;
  justify-self: center;
}
#container .header-menu .gallery-head a {
  transition: 0.3s ease-in-out;
}
#container .header-menu .gallery-head a:hover {
  border-bottom: 2px solid #ff00eb;
}
#container .header-menu .event-head {
  grid-row: 1;
  grid-column: 6;
  justify-self: center;
}
#container .header-menu .event-head a {
  transition: 0.3s ease-in-out;
}
#container .header-menu .event-head a:hover {
  border-bottom: 2px solid #ff00eb;
}
#container .header-menu .news-head {
  grid-row: 1;
  grid-column: 7;
  justify-self: center;
}
#container .header-menu .news-head a {
  transition: 0.3s ease-in-out;
}
#container .header-menu .news-head a:hover {
  border-bottom: 2px solid #ff00eb;
}
#container .header-menu .contact-head {
  grid-row: 1;
  grid-column: 8;
  justify-self: center;
}
#container .header-menu .contact-head a {
  transition: 0.3s ease-in-out;
}
#container .header-menu .contact-head a:hover {
  border-bottom: 2px solid #ff00eb;
}
#container .invites {
  display: grid;
  grid-template-columns: 600px 500px;
  grid-template-rows: 100px 60px 150px 150px 150px 150px 200px 100px 100px 350px 10px;
  justify-content: space-around;
  font-family: "Kanit", sans-serif;
  justify-content: space-around;
}
#container .invites .content-in {
  grid-row: 7/11;
  grid-column: 2;
  background: url(../siteground/image/image4.png) center;
  background-size: cover;
}
#container .invites .nodisplay {
  width: 100%;
  display: none;
  height: 100%;
}
@media screen and (max-width: 992px) {
  #container .invites {
    transition: 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
  }
  #container .invites .nodisplay {
    display: block;
  }
}
#container .invites a {
  color: black;
}
#container .invites .red {
  color: red;
}
#container .invites .reds {
  color: red;
  font-weight: bold;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
}
#container .invites .head-invites {
  grid-row: 1;
  grid-column: 1;
  font-size: 35px;
  align-self: center;
  font-weight: 200;
}
#container .invites .head-prelim {
  grid-row: 2;
  grid-column: 1;
  align-self: center;
}
#container .invites .body-invite-img {
  grid-row: 3/6;
  grid-column: 1;
  background: url(../gallery/image/2.png) center;
  background-size: cover;
}
#container .invites .june {
  grid-row: 6;
  grid-column: 1;
}
#container .invites .post-invites {
  grid-row: 3;
  grid-column: 2;
}
#container .invites .rescent {
  font-weight: bold;
}
#container .invites .coment {
  grid-row: 4;
  grid-column: 2;
  text-transform: uppercase;
  font-weight: bold;
  align-self: center;
}
#container .invites .archives {
  grid-row: 5;
  grid-column: 2;
}
#container .invites .categories {
  grid-row: 6;
  grid-column: 2;
}
#container .invites .admin {
  grid-row: 7;
  grid-column: 1;
  align-self: center;
  color: red;
  font-size: 25px;
  margin-left: 3%;
}
#container .invites .admin .adm {
  border-radius: 50%;
}
#container .invites .slider-link {
  display: flex;
  grid-row: 8;
  grid-column: 1;
  justify-content: space-between;
  align-items: center;
}
#container .invites .slider-link a {
  transition: 0.3s ease-in-out;
}
#container .invites .slider-link a:hover {
  color: red;
}
#container .invites .slider-link .next {
  margin-left: 100px;
  position: relative;
}
#container .invites .slider-link .next .cont::after {
  position: relative;
  content: " ❯";
  font-size: 15px;
  top: 1px;
  font-weight: bold;
  align-self: center;
}
#container .invites .slider-link .cont1 {
  position: relative;
}
#container .invites .slider-link .cont1::before {
  position: relative;
  content: "❮ ";
  font-size: 15px;
  top: 1px;
  font-weight: bold;
  align-self: center;
}
#container .invites .reply {
  grid-row: 9;
  grid-column: 1;
}
#container .invites .reply .leave {
  font-size: 20px;
  font-weight: bold;
  justify-self: center;
}
#container .invites .forma {
  grid-row: 10;
  grid-column: 1;
}
#container .invites .forma .type {
  width: 100%;
  height: 40px;
}
#container .invites .forma .txt {
  width: 100%;
  height: 200px;
}
#container .invites .btn_form {
  position: relative;
  border: none;
  background: #ff0055;
  width: 100%;
  height: 40px;
  color: white;
  margin-top: 60px;
}

.footer {
  position: relative;
  background-color: black;
  display: grid;
  grid-template-rows: 70px;
  background-color: #100726;
  align-items: center;
  font-family: "Kanit", sans-serif;
  border-top: 2px solid gray;
}
@media screen and (max-width: 768px) {
  .footer {
    transition: 0.5s ease-in-out;
    display: flex;
    flex-direction: column-reverse;
    grid-row-gap: 25px;
  }
}
.footer .logo-bottom {
  justify-self: center;
}
@media screen and (max-width: 416px) {
  .footer .logo-bottom {
    transition: 0.5s ease-in-out;
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .footer .logo-bottom {
    transition: 0.5s ease-in-out;
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .footer .logo-bottom {
    transition: 0.5s ease-in-out;
    display: none;
  }
}
.footer .text-footer {
  grid-row: 1;
  grid-column: 3;
  text-align: center;
  font-size: 18px;
  color: white;
  font-weight: 300;
}
.footer .logo-footer {
  text-align: center;
}
.footer #youtube {
  width: 20px;
  height: 20px;
  fill: white;
  margin-left: 15px;
  transition: all 0.5s ease-in-out;
}
.footer #youtube:hover {
  fill: #ff00eb;
  transform: scale(1.2, 1.2);
}
.footer #soundclound {
  width: 20px;
  height: 20px;
  fill: white;
  margin-left: 15px;
  transition: all 0.5s ease-in-out;
}
.footer #soundclound:hover {
  fill: #ff00eb;
  transform: scale(1.2, 1.2);
}
.footer #Spotify {
  width: 20px;
  height: 20px;
  fill: white;
  margin-left: 15px;
  transition: all 0.5s ease-in-out;
}
.footer #Spotify:hover {
  fill: #ff00eb;
  transform: scale(1.2, 1.2);
}
.footer #dribble {
  width: 20px;
  height: 20px;
  fill: white;
  transition: all 0.5s ease-in-out;
}
.footer #dribble:hover {
  fill: #ff00eb;
  transform: scale(1.2, 1.2);
}
.footer .title-text {
  grid-row: 2;
  grid-column: 1/9;
}

.hamburger-menu {
  display: none;
}
@media screen and (max-width: 760px) {
  .hamburger-menu {
    transition: 0.5s ease-in-out;
    display: block;
  }
}
.hamburger-menu a {
  color: white;
}

@keyframes news {
  0% {
    opacity: 0;
    transform: scale(1.5, 1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}/*# sourceMappingURL=invite.css.map */